#include <physical_layouts.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

// Layer Definitions
#define L_BASE 0
#define L_LOWER 1
#define L_RAISE 2
#define L_MS_NAV 3
#define L_SYSTEM 4

// Japanese Key Aliases (for US/Standard firmware on Mac)
#define JP_KANA LANGUAGE_1
#define JP_EISU LANGUAGE_2

&mt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
};

/ {
    combos {
        compatible = "zmk,combos";
        // J+K = ESC
        combo_esc {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp ESC>;
        };
    };

    behaviors {
        // Simple and responsive tap-hold
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "BASE";
            bindings = <
&kp Q      &kp W      &kp E      &kp R      &kp T                         &kp Y      &kp U      &kp I      &kp O      &kp P
&kp A      &kp S      &kp D      &kp F      &kp G      &kp MINUS &kp EQUAL &kp H      &kp J      &kp K      &kp L      &kp SQT
&kp LSHIFT &kp Z      &kp X      &kp C      &kp V      &kp B     &kp LBKT  &kp N      &kp M      &kp COMMA  &kp DOT    &kp SLASH
&kp LCTRL  &kp LGUI   &kp LALT   &kp JP_EISU &lt L_LOWER SPACE &trans     &lt L_RAISE JP_KANA &lt L_MS_NAV ENTER           &kp BSPC
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            label = "LOWER";
            bindings = <
&kp N1     &kp N2     &kp N3     &kp N4     &kp N5                        &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
&kp TAB    &trans     &trans     &trans     &trans     &trans    &trans   &kp MINUS  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp BSLH
&trans     &trans     &trans     &trans     &trans     &trans    &trans   &kp PLUS   &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp EQUAL
&trans     &trans     &trans     &trans     &trans     &trans             &kp KP_N0  &trans                           &kp DEL
            >;
        };

        raise_layer {
            label = "RAISE";
            bindings = <
&kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT                     &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR
&kp GRAVE  &trans     &trans     &trans     &trans     &trans    &trans   &kp TILDE  &kp LBRC   &kp RBRC   &kp PIPE   &kp COLON
&trans     &trans     &trans     &trans     &trans     &trans    &trans   &kp UNDER  &kp LBKT   &kp RBKT   &kp PLUS   &kp LEFT_BRACE
&trans     &trans     &trans     &trans     &trans     &trans             &trans     &mo L_SYSTEM                      &trans
            >;
        };

        ms_nav_layer {
            label = "MS_NAV";
            bindings = <
&kp F1     &kp F2     &kp F3     &kp F4     &kp F5                        &kp F6     &kp F7     &kp F8     &kp F9     &kp F10
&trans     &trans     &trans     &trans     &trans     &trans    &trans   &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp F11
&trans     &trans     &trans     &trans     &trans     &trans    &trans   &mkp MB1   &mkp MB3   &mkp MB2   &trans     &kp F12
&trans     &trans     &trans     &trans     &trans     &trans             &trans     &trans                          &trans
            >;
        };

        system_layer {
            label = "SYSTEM";
            bindings = <
&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4             &trans     &trans     &trans     &trans     &trans
&bt BT_CLR   &trans       &trans       &trans       &trans     &trans &trans &trans     &trans     &trans     &trans     &trans
&bt BT_CLR_ALL &trans     &trans       &trans       &trans     &bootloader &trans &trans     &trans     &trans     &trans     &trans
&trans       &trans       &trans       &trans       &trans     &trans            &trans     &trans                          &trans
            >;
        };
    };
};

